/testdata/
/termui
/tcell
/timg
/cmd/timg/experiments.go
/screenshot*.png
*.code-workspace
.vscode/
.idea/
*.exe
/go.work
/go.work.sum
/*.[pP][nN][gG]
/*.[jJ][pP][gG]
/*.[jJ][pP][eE][gG]
/*.[bB][mM][pP]
/*.[gG][iI][fF]
/log*
# TODO temp
/cmd/timg/default.pgo
